*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to right top, #19c4d4, #00b6f8, #009fff, #9775ff, #eb12c6);
   height:100vh;
}
.background-header{
    background:#2a55a6;
    height: 100px;
}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width:1200px;
    margin: 0 auto;
} 
header h1{
    color: #fff;
    font-size: 3rem;
    font-family: 'Square Peg', cursive;
}
nav ul{
    display: flex;
}
nav ul a{
    text-decoration: none;
    color: #fff;
}
nav ul li{
    list-style: none;
    margin: 10px;
    color: white;
    font-family:sans-serif;
}
.container{
    display: flex;
    justify-content:center;
    flex-direction:column;
    align-items: center;
    margin: 0 auto;
    margin-top: 90px;
    max-width:1200px;
    background: rgba(255, 255, 255, 0.238);
    box-shadow: 0 8px 32px 0 rgba(36, 38, 61, 0.37);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.141);
}
.about-me{
    max-width:600px;
    text-align: center;
    font-family: sans-serif;
}

.my-photo img{
    border-radius: 10px;
}
.button{
    max-width:1200px;
    margin: 0 auto;
    text-align: center;
}
 .insta{
    border:1px solid ;
    color: #fff;
    width: 150px;
    height:50px;
    border-radius:8px;
    font-family: sans-serif;
    font-size:15px;
    background:#11120e;
    padding-right: 3px;
    margin-top:10px;
    cursor:pointer;
    animation: insta 1s infinite  ;
    
  
}
@keyframes insta{
    0%{
        box-shadow: 0 0 15px #009fff,
        0 0 15px #EB12C6;
    } 
}
@media (max-width: 668px){
    .Name{
        font-size:2rem;
    }
    .my-photo img{
        width: 300px;
    }
}
@media (max-width: 345px){
    .Name{
        font-size:1.6rem;
    }
    .my-photo img{
        width: 250px;
    }
}